# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build files
build/
DerivedData/
*.app
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
/.build/
# Add this if you have the Packages directory in the repo
# Packages/
/Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
